[submodule "Submodules/WindowsMixedReality"]
	path = Submodules/WindowsMixedReality
	url = https://github.com/XRTK/WindowsMixedReality.git
[submodule "Submodules/SDK"]
	path = Submodules/SDK
	url = https://github.com/XRTK/SDK.git
[submodule "Submodules/UpmGitExtension"]
	path = Submodules/UpmGitExtension
	url = https://github.com/XRTK/UpmGitExtension.git
[submodule "Submodules/Lumin"]
	path = Submodules/Lumin
	url = https://github.com/XRTK/Lumin.git
[submodule "Oculus"]
	path = Oculus
	url = https://github.com/XRTK/Oculus.git
[submodule "Submodules/Oculus"]
	path = Submodules/Oculus
	url = https://github.com/XRTK/Oculus.git
