[submodule "Submodules/ARCore"]
	path = Submodules/ARCore
	url = https://github.com/XRTK/ARCore.git
[submodule "Submodules/Examples"]
	path = Submodules/Examples
	url = https://github.com/XRTK/Examples.git
[submodule "Submodules/Lumin"]
	path = Submodules/Lumin
	url = https://github.com/XRTK/Lumin.git
[submodule "Submodules/Oculus"]
	path = Submodules/Oculus
	url = https://github.com/XRTK/Oculus.git
[submodule "Submodules/SDK"]
	path = Submodules/SDK
	url = https://github.com/XRTK/SDK.git
[submodule "Submodules/Ultraleap"]
	path = Submodules/Ultraleap
	url = https://github.com/XRTK/Ultraleap.git
[submodule "Submodules/WindowsMixedReality"]
	path = Submodules/WindowsMixedReality
	url = https://github.com/XRTK/WindowsMixedReality.git
[submodule "Submodules/glTF"]
	path = Submodules/glTF
	url = https://github.com/XRTK/glTF.git
[submodule "Submodules/WebXR"]
	path = Submodules/WebXR
	url = https://github.com/XRTK/WebXR.git
